:root {
  --l-bg: 0, 0%, 94%;
  --l-bg2: 0, 0%, 72%;
  --l-fg: 0, 0%, 20%;
  --l-fg-muted: 180, 0%, 50%;
  --l-primary: 89, 64%, 64%;
  --l-secondary: 40, 90%, 56%;
  --l-accent: 188, 62%, 59%;
  --l-border: 0, 0%, 80%;
  --l-box-shadow-sm: 0px 4px 24px rgba(0, 0, 0, 0.1);
  --l-box-shadow-md: 0px 8px 32px rgba(0, 0, 0, 0.1);
  --l-box-shadow-lg: 0px 16px 36px rgba(0, 0, 0, 0.1);

  --d-bg: 0, 0%, 11%;
  --d-bg2: 0, 0%, 18%;
  --d-fg: 0, 0%, 88%;
  --d-fg-muted: 180, 0%, 50%;
  --d-primary: 145, 63%, 51%;
  --d-secondary: 36, 88%, 53%;
  --d-accent: 204, 53%, 53%;
  --d-border: 0, 0%, 27%;
  --d-box-shadow-sm: 0px 4px 24px rgba(0, 0, 0, 0.3) ;
  --d-box-shadow-md: 0px 8px 32px rgba(0, 0, 0, 0.3) ;
  --d-box-shadow-lg: 0px 16px 36px rgba(0, 0, 0, 0.3);

  /* Theme independent varialbes */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --c-green: 148, 99%, 28%;
  --c-red: 352, 76%, 43%;
}

:root[data-theme="light"]  {
  color-scheme: light;
  --c-bg: var(--l-bg);
  --c-bg2: var(--l-bg2);
  --c-fg: var(--l-fg);
  --c-fg-muted: var(--l-fg-muted);
  --c-border: var(--l-border);
  --c-primary: var(--l-primary);
  --c-secondary: var(--l-secondary);
  --c-accent: var(--l-accent);

  --box-shadow-sm: var(--l-box-shadow-sm);
  --box-shadow-md: var(--l-box-shadow-md);
  --box-shadow-lg: var(--l-box-shadow-lg);
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --c-bg: var(--d-bg);
  --c-bg2: var(--d-bg2);
  --c-fg: var(--d-fg);
  --c-fg-muted: var(--d-fg-muted);
  --c-border: var(--d-border);
  --c-primary: var(--d-primary);
  --c-secondary: var(--d-secondary);
  --c-accent: var(--d-accent);

  --box-shadow-sm: var(--d-box-shadow-sm);
  --box-shadow-md: var(--d-box-shadow-md);
  --box-shadow-lg: var(--d-box-shadow-lg);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-bg: var(--d-bg);
    --c-bg2: var(--d-bg2);
    --c-fg: var(--d-fg);
    --c-fg-muted: var(--d-fg-muted);
    --c-border: var(--d-border);
    --c-primary: var(--d-primary);
    --c-secondary: var(--d-secondary);
    --c-accent: var(--d-accent);

    --box-shadow-sm: var(--d-box-shadow-sm);
    --box-shadow-md: var(--d-box-shadow-md);
    --box-shadow-lg: var(--d-box-shadow-lg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --c-bg: var(--l-bg);
    --c-bg2: var(--l-bg2);
    --c-fg: var(--l-fg);
    --c-fg-muted: var(--l-fg-muted);
    --c-border: var(--l-border);
    --c-primary: var(--l-primary);
    --c-secondary: var(--l-secondary);
    --c-accent: var(--l-accent);

    --box-shadow-sm: var(--l-box-shadow-sm);
    --box-shadow-md: var(--l-box-shadow-md);
    --box-shadow-lg: var(--l-box-shadow-lg);
  }
}